<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>navBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1312,70}</string>
                <key>spriteSourceSize</key>
                <string>{1334,70}</string>
                <key>textureRect</key>
                <string>{{414,1},{1312,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>个人背景@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,168}</string>
                <key>spriteSourceSize</key>
                <string>{183,168}</string>
                <key>textureRect</key>
                <string>{{229,530},{183,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>充值按钮@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,63}</string>
                <key>spriteSourceSize</key>
                <string>{110,63}</string>
                <key>textureRect</key>
                <string>{{1539,449},{110,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>充值背景@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,63}</string>
                <key>spriteSourceSize</key>
                <string>{299,63}</string>
                <key>textureRect</key>
                <string>{{1424,176},{299,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>右箭头@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,93}</string>
                <key>spriteSourceSize</key>
                <string>{44,93}</string>
                <key>textureRect</key>
                <string>{{39,653},{44,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>右边@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{833,254}</string>
                <key>spriteSourceSize</key>
                <string>{833,254}</string>
                <key>textureRect</key>
                <string>{{589,132},{833,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>右边导航背景@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,480}</string>
                <key>spriteSourceSize</key>
                <string>{173,480}</string>
                <key>textureRect</key>
                <string>{{414,176},{173,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>喇叭@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,36}</string>
                <key>spriteSourceSize</key>
                <string>{45,36}</string>
                <key>textureRect</key>
                <string>{{1,653},{45,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>头像背景@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1635,602},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>客户@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,113}</string>
                <key>spriteSourceSize</key>
                <string>{66,113}</string>
                <key>textureRect</key>
                <string>{{1539,381},{66,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>导航背景@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,168}</string>
                <key>spriteSourceSize</key>
                <string>{183,168}</string>
                <key>textureRect</key>
                <string>{{229,530},{183,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>左箭头@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,93}</string>
                <key>spriteSourceSize</key>
                <string>{42,93}</string>
                <key>textureRect</key>
                <string>{{134,653},{42,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>左边@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{831,254}</string>
                <key>spriteSourceSize</key>
                <string>{831,254}</string>
                <key>textureRect</key>
                <string>{{589,388},{831,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>排行榜背景@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,650}</string>
                <key>spriteSourceSize</key>
                <string>{213,650}</string>
                <key>textureRect</key>
                <string>{{1,1},{213,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>文字@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,32}</string>
                <key>spriteSourceSize</key>
                <string>{95,32}</string>
                <key>textureRect</key>
                <string>{{404,132},{95,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>星币@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{1651,451},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>标题@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{527,186}</string>
                <key>spriteSourceSize</key>
                <string>{527,186}</string>
                <key>textureRect</key>
                <string>{{216,1},{527,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>活动@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,114}</string>
                <key>spriteSourceSize</key>
                <string>{101,114}</string>
                <key>textureRect</key>
                <string>{{1592,73},{101,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>消息@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,54}</string>
                <key>spriteSourceSize</key>
                <string>{180,54}</string>
                <key>textureRect</key>
                <string>{{1138,644},{180,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>消息线@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{1176,57}</string>
                <key>spriteSourceSize</key>
                <string>{1178,57}</string>
                <key>textureRect</key>
                <string>{{414,73},{1176,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>皇冠1@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,111}</string>
                <key>spriteSourceSize</key>
                <string>{113,111}</string>
                <key>textureRect</key>
                <string>{{1424,381},{113,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>皇冠2@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,89}</string>
                <key>spriteSourceSize</key>
                <string>{84,89}</string>
                <key>textureRect</key>
                <string>{{1635,516},{84,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>皇冠3@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,68}</string>
                <key>spriteSourceSize</key>
                <string>{71,68}</string>
                <key>textureRect</key>
                <string>{{1654,381},{71,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>社区@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,57}</string>
                <key>spriteSourceSize</key>
                <string>{180,57}</string>
                <key>textureRect</key>
                <string>{{774,644},{180,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>箭头@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,18}</string>
                <key>spriteSourceSize</key>
                <string>{36,18}</string>
                <key>textureRect</key>
                <string>{{1708,73},{36,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>设置2@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,57}</string>
                <key>spriteSourceSize</key>
                <string>{180,57}</string>
                <key>textureRect</key>
                <string>{{956,644},{180,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>设置@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,108}</string>
                <key>spriteSourceSize</key>
                <string>{66,108}</string>
                <key>textureRect</key>
                <string>{{1422,494},{66,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>购物车@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,138}</string>
                <key>spriteSourceSize</key>
                <string>{260,138}</string>
                <key>textureRect</key>
                <string>{{1424,241},{260,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>邀请@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,57}</string>
                <key>spriteSourceSize</key>
                <string>{183,57}</string>
                <key>textureRect</key>
                <string>{{589,644},{183,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>首充@3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,101}</string>
                <key>spriteSourceSize</key>
                <string>{92,101}</string>
                <key>textureRect</key>
                <string>{{1532,514},{92,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home.png</string>
            <key>size</key>
            <string>{1727,702}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:116b37060a713f445dcfc1391a16dc9d:8e153b015b6d9e31ff5b5ed5c734c7aa:10101cf27d0f1c17e861425c0e9b5b27$</string>
            <key>textureFileName</key>
            <string>home.png</string>
        </dict>
    </dict>
</plist>
